* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.Mukesh {
  font-size: 50px;
  color: #6258eb;
}
body {
  background: black;
  color: #fff;
}
#header {
  background-attachment: fixed;
}
#header {
  width: 100%;
  height: 30vh;
  margin-top: 10;
  background-size: cover;
  background-position: center;
}

.container {
  padding: 5px 10%;
  text-align: justify;
  padding-top: 2px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#home {
  background-color: #000000;
}
#home a{
  text-decoration: none;
  color: #fff;
}

.logo {
  
  margin-top: -10px;
  font-size: 40px;
  cursor: pointer;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #6258eb;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.3s;
}

nav ul li a:hover::after {
  width: 100%;
}

.header-text {
  font-size: 30px;
  text-align: center;
}

h1 {
  font-size: 60px;
  /* margin-top: 20px; */
}
.header-text h2 span {
  color: #6258eb;
}
.line {
  color: #575353;
}

.back{
  text-decoration: none;
  color: white;
}
/* <!-- --------Projects--------- --> */
#project {
  padding-bottom: -500px;
}
#project {
  align-items: center;
  /* padding: 20px 20px; */
  color: #ffffff;
}
.row {
  display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
}

.project-col-1 {
  flex-basis: 60%;
  width: 50%;
  height: fit-content;
  border-radius: 15px;
}

.project-col-1 a {
  margin: 10px;
  color: #ffffff;

}

.project-col-2 {
  flex-basis: 35%;
  align-items: center;
}
.project-col-2 img{
  border-radius: 10px;
  box-Shadow: 0 0 200px rgba(0,0,0,0.9) inset;
}

.title {
  color: #fff;
}
.sub-title {
  font-size: 30px;
  font-weight: 600;
  color: #6b6292;
}
.p{
  margin-block-end: 10%;
}
.copyright {
  width: 100%;
  text-align: center;
  padding: 8px;
  background: #262626;
  font-weight: 300;
}
/* ------------------ CSS For small screen----------- */
nav .fa-solid {
  display: none;
}

@media only screen and (max-width: 599px) {
  #header {
    background-image: url(Phone\ bg\ image.png);
  }
  .header-text {
    margin-top: 100%;
    font-size: 16px;
  }
  .header-text h1 {
    font-size: 30px;
  }
  nav .fa-solid {
    display: block;
    font-size: 25px;
  }
.row{
  display: flex;
flex-direction: column-reverse;
align-content: center;
align-items: center;
flex-wrap: nowrap;
}
  nav ul {
    background: #241d87;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.3s;
  }

  nav ul li {
    display: block;
    margin: 25px;
  }

  nav ul .fa-solid {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }

  .sub-title {
    font-size: 40px;
  }

  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }
  .about-col-1 {
    margin-bottom: 30px;
  }
  .about-col-2 {
    font-size: 14px;
  }
  .tab-links {
    font-size: 16px;
    margin-right: 20px;
  }

  .contact-left,
  .contact-right {
    flex-basis: 100%;
    flex-wrap: wrap;
  }

  .copyright {
    font-size: 14px;
  }
}

#msg {
  color: chartreuse;
  margin-top: -45px;
  display: block;
}
